body {
  background-color: tomato;
}

.password-field {
  display: inline-block;
  position: relative;
  width: fit-content;
}
.icon {
  position: absolute;
  cursor: pointer;
  right: 5px;
}

#image-sample {
  width: 100px;
  height: 100px;
  background-image: url("../assets/sample-image.png");
  background-repeat: no-repeat;
  background-position: center;
}
